p { 
  display: flex;
  justify-content: center;
  padding: 2em;
  margin: auto;
  width: 300px;
  height: 40px;
}

.button {
  background-color: rgb(207, 226, 243);
  border: double;
  width: 120px;
  height: 40px;
}

.button:hover {
  background-color: rgb(178, 214, 245);
  cursor: pointer;
}

.button:active {
  background-color: rgb(207, 226, 243);
  cursor: pointer;
  box-shadow: 1px 1px 3px 2px rgb(187, 187, 187);
}
